.git
.github
.next
.next-dev.log
.next-dev.pid
.npm-cache
.npm-logs
node_modules
npm-debug.log*
Dockerfile
docker-compose*.yml
docker-compose*.yaml
.env
.env.*
!.env.example
storage
coverage
out
build
*.tsbuildinfo
